* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
	font-family: "Source Sans Pro", sans-serif;
}

h2 {
	color: #fff;
	font-size: 4em;
}

p {
	font-size: 18px;
}

#tagline {
	color: #fff
}

#heroimage {
	position: relative;
}

#herotext {
	position:absolute;
	top: 50%;
	left: 20px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	text-align: right;
	word-spacing: 30px;
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

#Sony {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}


footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
